.about-fluid {
  margin-top: 5%;
}

.about-container1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-content-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Section - chairman */
.about-container-fluid2 {
  margin-top: 5%;
  padding: 0;
  gap: "0px";
  background-color: rgba(211, 211, 211, 0.112);
}

.about-content-section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5px;
}
.highlight {
  font-weight: 600;
  color: #222; /* or your theme color */
}
.about-section2-left-side {
  max-width: 35% !important;
}

.about-section2-left-side img {
  width: 100%;
}

.about-section2-right-side {
  width: 65%;
  text-align: justify;
}

/* Section mission vision value */
/* Mission-Vision-Values Section */
.mvc-section {
  padding: 40px 0;
  background: #ffffff;
}

.mvc-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.mvc-row-1, .mvc-row-3 {
  flex-direction: row; /* Image Left - Text Right */
}

.mvc-row-2 {
  flex-direction: row-reverse; /* Text Left - Image Right */
}

.mvc-image {
  width: 50%;
}

.mvc-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  animation: lightFade 4s ease-in-out infinite alternate;
}

.mvc-content {
  width: 47%;
  text-align: justify;
}

.mvc-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Animation */
@keyframes lightFade {
  0% { opacity: 0.92; }
  50% { opacity: 1; }
  100% { opacity: 0.92; }
}


/* --------------------------------- */
@media (max-width: 768px) {
  .about-fluid {
    margin-top: 5%;
  }

  .about-container1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }

  .about-content-section1 {
    min-width: 100%;
    text-align: justify;
  }

  .about-heading {
    text-align: left !important;
    margin-right: auto;
  }

  .about-container-fluid2 {
    margin-top: 5%;
    padding: 0;
    background-color: lightgrey;
  }

  .about-content-section2 {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5px;
  }

  .about-section2-left-side {
    min-width: 95% !important;
  }

  .about-section2-left-side img {
    min-width: 100%;
  }

  .about-section2-right-side {
    min-width: 95%;
    text-align: justify;
  }

    .mvc-row {
    flex-direction: column !important; /* Image Top + Text Bottom for ALL */
  }

  .mvc-image, .mvc-content {
    width: 100%;
  }

  .mvc-image img {
    height: 280px;
  }

  .mvc-title {
    text-align: left;
  }
}