.contact-page{
  /* background:#f9f9f9; */
  padding: 25px 0;
  /* background-color: #902724; */
}

/* ===== TOP SECTION BOX ===== */
.contact-top-box{
  background:#fff;
  padding: 15px 25px;
  border-radius:15px;
  box-shadow:0 2px 12px rgba(0,0,0,0.08);  /* light shadow */
  text-align:center;
}

/* Heading */
.contact-heading{
display: flex;
flex-direction: column;
flex-direction: column;
justify-content: center;
align-items: center;
}


/* 3 Div Grid + Vertical Separation */
.contact-grid{
  display:flex;
  justify-content:space-between;
  gap:10px;
  position:relative;
 
}

.contact-grid div:not(:last-child){
  border-right:1.2px solid rgba(0,0,0,0.20); /* vertical line */
}

.contact-item{
  flex:1;
  padding:20px 10px;
}
.contact-item h5{ font-weight:700; margin-top:10px; }
.contact-icon{
  font-size:32px;
  color:#902724;
}

/* ===== MAP + FORM SECTION ===== */
.contact-lower-section{
  margin-top:45px;
  display:flex;
  gap:25px;
}

.map-box,.form-box{
  flex:1;
  height:480px;         /* equal height */
}

.map-box iframe{
  width:100%;
  height:100%;
  border-radius:12px;
  border:none;
}

.form-box{
  /* background:#fff; */
  padding:0px;
  border-radius:12px;
}

/* ===== Responsive ===== */
@media(max-width:992px){
  .contact-grid{
    flex-direction:column;
    border:none;
  }
  .contact-grid div{border:none;}
  
  .contact-lower-section{
    flex-direction:column-reverse;
  }
  .map-box,.form-box{height:auto;}
}
