.general-policy-fluid {
  margin-top: 2.5% !important;
}

.general-policy {
  width: 100%;
}

.general-policy-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  margin-top: 0%;
  flex-wrap: wrap;
}

.scrollable-box {
  max-height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.general-policy-box {
  flex: 1;
  min-width: 100%;
  max-width: 100%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 25px;
  line-height: 1.6;
}

.general-policy-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.general-policy-box li {
  position: relative;
  margin-bottom: 12px;
  font-size: 16px;
  color: #333;
  padding-left: 18px;
}

.circle-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  margin-right: 15px;
  background-color: #902724;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  flex-shrink: 0;
}

.view-moree-btn {
  display: block;
  margin: 15px 0 0 auto;
  padding: 10px 20px;
  background-color: #902724;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.view-moree-btn:hover {
  background-color: #731c1c;
}

.page-heading {
  font-size: 22px;
  font-weight: 700;
  color: #902724;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}

.policy-points {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 15px;
}

.point-text {
  flex: 1;
  line-height: 1.6;
}

/* Sub points styling */
.policy-sub-points {
  list-style: disc;
  padding-left: 25px;
  margin-top: 8px;
}

.policy-sub-points li {
  margin-bottom: 4px;
  color: #555;
}

@media (max-width: 768px) {
  .general-policy-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px;
  }

  .general-policy-box {
    min-width: 100%;
  }
}
