.achievements {
  background:#f8f9fa;
}

/* CARD */
.achievement-card {
  width: 100% !important;
  margin: 0 auto;
  padding: 0px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-top:25px;
}

/* IMAGE STYLING */
.achv-img {
  width: 370px!important;
  max-width: 380px;
  height: 240px;
  object-fit: cover;
  transition: transform 0.5s ease;   /* ⬅ smooth zoom */
}

/* HOVER ZOOM */
.achievement-card:hover .achv-img {
  transform: scale(1.1);             /* ⬅ zoom effect */
}

/* OVERLAY */
.achievement-card .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
  transition: 0.3s ease-in-out;
}

.overlay-content h4 {
  color: #fff;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.overlay-content p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.9;
}

/* Slick alignment */
.slick-track, 
.slick-slide {
  display: flex !important;
  justify-content: center !important;
  padding-bottom: 25px;
}

/* Heading underline */
.achv-heading.achv-heading::after {
  content: "";
  display: block;
  width: 105px;
  height: 4px;
  margin: 10px auto 0;
  background: linear-gradient(to right, #902724, #000);
  border-radius: 2px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .achv-img {
    width: 100%!important;
    max-width: 100%;
    height: 240px;
  }
}
