.achievement-card {
  width: 100% !important;
  margin: 0 auto;
  padding: 0px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-top:25px;
}

.achievement-card img {
  width: 350px!important;
  max-width: 380px;
  height: 240px;
  object-fit: cover;
}

.achievement-card .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease-in-out;
  padding: 0 15px;
}

.overlay-content h4 {
  color: #fff;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.overlay-content p {
  color: #fff;
  font-size: 15px;
  opacity: 0.9;
}

.achievement-card:hover .overlay {
  background: rgba(0,0,0,0.7);
}

.slick-track {
  display: flex !important;
  justify-content: center !important;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.achievements {
  background:#f8f9fa;
}

@media screen and (max-width: 768px) {
  .achievement-card img {
    width: 100%!important;
    max-width: 100%;
    height: 240px;
  }
}
