    .pg-banner {
  position: relative;
  width: 100%;

}

.pg-banner-img img {
  width: 100%;
  height: auto;
  display: block;
}

.pg-banner-box {
  position: absolute;
  bottom: 0;
  margin-bottom: -25px;
  left: 50%;                 
  transform: translateX(-50%);
  width: 80%;                 
  height: 60px;              
  background-color: #902724;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px;           
  box-sizing: border-box;
  color: #ffffff;
  border-radius: 30px;         
}


.pg-banner-left h2 {
  margin: 0;
  font-size: 28px;
  text-transform: uppercase;
}

.pg-banner-left p {
  margin: 5px 0 0 0;
  font-size: 16px;
}

.pg-banner-right a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  transition: color 0.3s;
}

.pg-banner-right a:hover {
  color: #ffd700; /* optional hover effect */
}
.direction-icon{
  font-size: 20px;
  margin-left: 12px !important;
  margin-top: -5px;
}
@media (max-width: 768px) {
  .pg-banner-box {
  position: absolute;
  bottom: 0;
  margin-bottom: -25px;
  left: 50%;                 
  transform: translateX(-50%);
  width: 90%;                 
  height: fit-content;              
  background-color: #902724;  
  display: flex ;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px !important;           
  box-sizing: border-box;
  color: #fff;
  border-radius: 48px;         
}


.pg-banner-left h2 {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  display: none !important;
}


.pg-banner-right a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  transition: color 0.3s;
}
}