/* SECTION BG */
.facility-section {
  width: 100%;
  background-color: #902724;
  padding: 3.6% 0;
}

/* HEADING STYLING */
.facility-heading {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.facility-heading h3 {
color: #fff !important;
  margin-bottom: 10px;
  opacity: 0.9;
}

.facility-heading p {
  font-size: 15px;
  opacity: 0.9;
}

/* FACILITY GRID */
.facility-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}

/* INDIVIDUAL BOX */
.facility-box {
  flex: 1 1 calc(11% - 15px);
  text-align: center;
  color: white;
  min-width: 120px;
}

/* ICON */
.facility-icon {
  font-size: 35px;
  margin-bottom: 8px;
  display: block;
  opacity: 0.9;
}

/* TEXT */
.facility-box h4 {
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: 600;
  opacity: 0.9;
}

.facility-box p {
  font-size: 13px;
  margin: 0;
  opacity: 0.9;
}

/* RESPONSIVE GRID */
@media (max-width: 1024px) {
  .facility-box { flex: 1 1 20%; }
}

@media (max-width: 768px) {
 .facility-box {
    flex: 1 1 calc(50% - 15px) !important; 
    min-width: 0;
  }
}

@media (max-width: 480px) {
  .facility-box {
    flex: 1 1 calc(50% - 15px) !important; 
    min-width: 0;
  }
}

