.campus {
  width: 100%;
 /* background: #f8f7fbdb; */
  padding: 60px 0;
  margin: 0;
}

.campus-container {
  width: 90%;
  margin: auto;
}
/* GAP BETWEEN SLIDES */
.campus-slider .slick-slide {
  padding: 0 15px;   /* 🔥 gap increase */
}

/* TOP CARD HEIGHT */
.top-card {
  height: 395px !important;  /* 🔥 increased height */
}
/* LEFT HEADING */
.campus-left {
  margin-bottom: 30px;
}

.campus-heading {
  font-weight: 700;
  text-align: center !important;
}
.campus-heading.campus-heading::after {
  content: "";
  display: block;
  width: 105px;
  height: 4px;
  margin: 10px auto 0;
  background: linear-gradient(to right, #902724, #000);
  border-radius: 2px;
}
.campus-subheading {
  /* font-size: 16px; */
  color: #444;
  text-align: center !important;
}

/* CARD STYLE */
.campus-card {
  position: relative;
  width: 90%;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  margin: auto;
}

.campus-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.campus-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* FIRST SLIDER TEXT */
.campus-card-info {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-name {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.arrow-circle {
  width: 38px;
  height: 38px;
  background: #902724;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  color: #fff;
  font-size: 20px;
}

/* SECOND SLIDER TEXT */
.second-card {
  height: 280px;
}

.second-info {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  color: #fff;
}

.second-info h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.second-info p {
  margin-top: 4px;
  font-size: 14px;
}
/* .second{
margin-top: 25px;
} */
/* RESPONSIVE */
@media (max-width: 768px) {
  .campus-heading {
    font-size: 28px;
  }
  .campus-card {
    height: 220px;
  }
}
