.demoBanner {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

/* Slide full area cover kare */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMAGE WRAPPER DIV */
.banner-img-wrapper {
  width: 100%;
 height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

/* IMAGE STYLING */
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;     
  object-position: center;
  background-color: #000;  
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .demoBanner {
    height: 260px;
  }
}
