.homeAbout-fluid {
    margin-top: 3.5%;
    background-color: #F9FBFF;
}

.homeAbout-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-about-heading{
    text-align: left !important;
}

.homeabout-img-div {
    width: 45%;
    max-width: 45%;
    position: relative; /* IMPORTANT for overlay */
}

.homeabout-img {
    width: 100%;
}

/* CLOCKWISE ROTATION */
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ================================
   UPDATED RESPONSIVE CIRCLE START
   ================================ */
.circle-wrapper {
    position: absolute;
    bottom: 5%;
    left: 4%;
    width: 18vw;
    height: 18vw;
    max-width: 235px;
    max-height: 235px;
    min-width: 130px;
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}


.homeabout-circle-img {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: rotate 21s linear infinite;
    transform-origin: center center !important;
}



/* CENTER PLAY ICON */
.circle-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    background: rgba(255,255,255,0.95);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-play-icon::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 1vw solid #902724;
    border-top: 0.7vw solid transparent;
    border-bottom: 0.7vw solid transparent;
}
/* ================================
   UPDATED RESPONSIVE CIRCLE END
   ================================ */


/* TABLETS */
@media screen and (max-width: 992px) {
  .circle-wrapper {
      bottom: 4vw;
      left: 3vw;
      width: 22vw;
      height: 22vw;
  }
}

/* MOBILE HIDE */
@media screen and (max-width: 768px) {
  .homeAbout-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
  }

  .homeabout-img-div {
      min-width: 100%;
  }

  .homeabout-circle-img,
  .circle-wrapper,
  .circle-play-icon {
      display: none !important;
  }

  .homeabout-img {
      width: 100%;
  }

  .homeabout-text-div {
      min-width: 100%;
  }
}

/* TEXT SECTION */
.homeabout-text-div {
    width: 45%;
    text-align: left;
}

.aboutus-btn-div {}

.aboutus-btn-div button {
    border: none;
    background-color: #902724;
    color: #fff;
    padding: 7px 10px;
    border-radius: 8px !important;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
