.homeAbout-fluid {
    margin-top: 7%;
}

.homeAbout-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-about-heading{
    text-align: left !important;
}
.homeabout-img-div {
    width: 45%;
    max-width: 45%;
    position: relative; /* IMPORTANT for overlay */
}

.homeabout-img {
    width: 100%;
}
.homeabout-circle-img {
    position: absolute;
    bottom: 35px;               
    left: 25px;                
    width: 235px; 
    max-width: auto !important;           
    cursor: pointer;
    animation: rotate 21s linear infinite; 
}

/* CLOCKWISE ROTATION */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* PLAY ICON CENTERED ON CIRCLE */
/* CIRCLE WRAPPER (Always wrap image + icon) */
.circle-wrapper {
    position: absolute;
    bottom: 35px;
    left: 25px;
    width: 235px;
    height: 235px;
}


/* Rotating Circle */
.homeabout-circle-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    animation: rotate 21s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
}


/* PERFECT CENTERED PLAY ICON */
.circle-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    background: rgba(255,255,255,0.95);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-play-icon::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid #902724;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}

/*  */
@media screen and (max-width: 1400px) {
  .homeabout-circle-img {
      width: 235px;
      bottom: 25px;
      left: 20px;
  }
}

@media screen and (max-width: 1200px) {
 .circle-wrapper {
      width: 180px;
      height: 180px;
      bottom: 20px;
      left: 15px;
  }
}

@media screen and (max-width: 992px) {
      .circle-wrapper {
      width: 140px !important;
      height: 140px !important;
      bottom: 18px !important;
      left: 12px !important;
  }

}
/*  */
.homeabout-text-div {
    width: 45%;
    text-align: left;
}

.aboutus-btn-div {}

.aboutus-btn-div button {
    border: none;
    background-color: #902724;
    color: #fff;
    padding: 7px 10px;
    border-radius: 8px !important;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
.homeAbout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.homeabout-img-div {
    min-width: 100%;
}
 .homeabout-circle-img,
  .circle-wrapper,
  .circle-play-icon {
      display: none !important;
  }

.homeabout-img {
    width: 100%;
}

.homeabout-text-div {
    min-width: 100%;
}

}