.homeAbout-fluid {
    margin-top: 7%;
}

.homeAbout-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-about-heading{
    text-align: left !important;
}
.homeabout-img-div {
    max-width: 45%;
    position: relative; /* IMPORTANT for overlay */
}

.homeabout-circle-img {
    position: absolute;
    bottom: 35px;               
    left: 25px;                
    width: auto; 
    max-width: 265px;           
    cursor: pointer;
    animation: rotate 21s linear infinite; 
}

/* CLOCKWISE ROTATION */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.homeabout-img {
    width: 100%;
}

.homeabout-text-div {
    width: 45%;
    text-align: left;
}

.aboutus-btn-div {}

.aboutus-btn-div button {
    border: none;
    background-color: #902724;
    color: #fff;
    padding: 7px 10px;
    border-radius: 8px !important;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
.homeAbout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.homeabout-img-div {
    min-width: 100%;
}
.homeabout-circle-img {
display: none !important; 
}

.homeabout-img {
    width: 100%;
}

.homeabout-text-div {
    min-width: 100%;
}

}