/* Section Base */
.principal-message {
  width: 100%;
  padding: 50px 0;
  color: #000;
 background: #f8f7fbdb;
}

/* LEFT TEXT */
.message-content-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.principal-heading {
  text-align: left;
  margin-right: auto !important;
}

/* BUTTON */
.view-btn {
  background-color: #902724;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-btn:hover {
  background-color: #b7312e;
  transform: scale(1.05);
}

/* VIDEO RIGHT SIDE */
.principal-video {
  width: 100%;
  height: auto;
  max-height: 350px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  object-fit: cover;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

  .message-content-div {
    text-align: left;
  }

  .principal-video {
    width: 100%;
    max-height: 250px;
    margin-top: 20px;
  }

  .view-btn {
    margin: 0;
  }
}
