.sep-fluid {
  margin-top: 5%;
}

.sep-container {
  text-align: center;
}

.bottom-sec-div {
  width: 100%;
  margin-top: 2rem !important;
}

/* FIX SWIPER CENTER ISSUE */
.sep-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
}

/* CARD */
.sep-card-div {
  width: 100%;
  max-width: 350px;
  height: 350px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
}

.sep-card-div:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

.sep-icon-div {
  height: 215px; /* fixed container height */
  overflow: hidden;
}

.sep-icon-div img {
  width: 100%;
  height: 100% !important; /* match container height */
  object-fit: cover;
  display: block;
}


.sep-card-text {
  padding: 15px 15px;
}

.sep-card-text h5 {
  text-transform: uppercase;
  color: #902724;
}

.sep-card-text p {
  font-weight: 500;
  font-size: 16px;
  color: #333;
  margin: 0;
}

/* MOBILE */
@media (max-width: 768px) {
  .sep-icon-div img {
    height: 180px;
  }
}
