.trust {
  width: 100%;
  margin-top: 3.5%;
  padding: 25px 0;
  background: #f9f9f9;
}

.trust-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
 }

/* Reverse row layout */
.trust-row.reverse {
  flex-direction: row-reverse;
}

.trust-image {
  width: 45%;
  height: fit-content;
  object-fit: contain;
 }

.trust-image img {
  width: 100%;
  height: 420px;
 border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.12);
}

.trust-text {
  width: 50%;
}

.trust-text h2 {
  font-size: 32px;
  color: #902724;
  margin-bottom: 15px;
  font-weight: 700;
}

.trust-text p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .trust-row {
    flex-direction: column !important;
    text-align: center;
  }

  .trust-image img {
    max-width: 100%;
  }

  .trust-text {
    max-width: 100%;
  }
}
