.trust {
  width: 100%;
  padding: 60px 0;
  background: #f8f7fbdb;
}

.trust-slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}

.trust-image {
/* width: 575px;
  height: 350px; */
  width: 520px;
  height: 325px;
}

.trust-image img {
width: 100%;
height: 100%;
  border-radius: 20px;
   object-fit: center;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.12);
}

.trust-text { width: 50%; }
.trust-heading.trust-heading::after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  margin: 7px auto 0;
  background: linear-gradient(to right, #902724, #000);
  border-radius: 2px;
}
.trust-text h2 {
 
  font-weight: 700;
  color: #902724;
}

.trust-text p {
  font-size: 17px;
  color: #333;
  line-height: 1.6;
}

/* RESPONSIVE */
@media(max-width:992px){
  .trust-slider-wrapper{ flex-direction: column; text-align:center; }
  .trust-image,.trust-text{ width:100%; }
  .trust-image img{ height: 320px; }
}

@media(max-width:768px){
  .trust-image img{ height: 260px; }
}
