.welcome-section {
  width: 100%;
  padding: 35px 0px;
  background: #f8f7fbdb;
  display: flex;
  justify-content: center;
}

/* MAIN WRAPPER */
.welcome-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT TEXT */
.left-content {
 width: 48%;
}
.welcome-heading-div{
display: flex;
justify-content: flex-start;
align-items: flex-start;
text-align: left;
}
.welcome-heading {
  text-align: left !important;

}

.left-content p {
  color: #444;
}

/* RIGHT SINGLE IMAGE CARD */
.right-single-card {
  width: 42%;
  display: flex;
  justify-content: flex-end;
}

.main-card {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.main-card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}


/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .welcome-container {
    flex-direction: column;
    text-align: center;
  }

  .left-content,
  .right-single-card {
    width: 100%;
  }

  .right-single-card {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .welcome-heading { font-size: 30px; }
  .left-content { width: 100%; }
  .main-card img { height: 330px; }
}
