.whyChoose{
  width:100%;
  padding:60px 0;
  text-align:center;
  box-shadow:0px 4px 12px rgba(0,0,0,0.12);
}

.whyChoose-slider{
  width:90%;
  margin:auto;
}

.whyChoose-box-wrapper{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.whyChoose-box{
  width:250px;
  padding:20px 0px !important;
  text-align:center;
  border-radius:10px;
  /* background-color: #873f3b; */
}

/* --------== VERTICAL LINE BETWEEN ITEMS ==-------- */
.vertical-line{
  position:absolute;
  left:100%;                
  top:50%;
  transform:translateY(-50%);
  height:70%;
  border-right:2px dotted #873f3b;
  margin-left:15px;          /* Adjust spacing between card & line */
}


/* last item no line -> (handled by JSX condition) */


/* TEXT */
.whyChoose-box h3{
  font-size:17px;
  font-weight:bold;
  margin-bottom:10px;
}

.whyChoose-box p{
  font-size:15px;
  width:85%;
  margin:auto;
  line-height:1.5;
}
/* -------- RESPONSIVE -------- */
@media(max-width:900px){
.vertical-line{display:none;}
}

/* On Mobile — 100% width Slide */
.slick-slide{
  display:flex !important;
  justify-content:center;
}
.slick-arrow{
  bottom:-30px;
}
