.App{
    margin-top: 128px;
}


.loader-wrapper {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #fff;
z-index: 9999;
}


.dots {
display: flex;
gap: 14px;
align-items: center;
}


.dot {
width: 16px;
height: 16px;
border-radius: 50%;
background: linear-gradient(180deg, #902724 0%, #000 100%);
transform: translateY(0);
animation: wave 0.8s ease-in-out infinite;
}


.dot-1 { animation-delay: 0s; }
.dot-2 { animation-delay: 0.27s; }
.dot-3 { animation-delay: 0.54s; }


@keyframes wave {
0% { transform: translateY(0); opacity: 0.9; }
25% { transform: translateY(-14px); opacity: 1; }
50% { transform: translateY(0); opacity: 0.9; }
100% { transform: translateY(0); opacity: 0.9; }
}
/*  */
.page-heading{
    font-size: 32px !important;
    font-family: poppins;
}
.sub-heading{
    font-size: 21.8px;
    font-weight: 600;
}
.special-heading {
    font-size: 16px !important;
    font-weight: 700;
    display: inline-block; 
    padding: 0px;  
    background-color: #fff; 
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;    */
    text-transform: uppercase;
}
.page-text{
    font-size: 18px;
}
@media (max-width: 768px) {

   .page-heading{
    font-size: 24px !important;
    
}
.sub-heading{
    font-size: 22px !important;
    font-weight: 600;
}
.special-heading {
    font-weight: 700;
    display: inline-block; 
    padding: 0px;  
    background-color: #fff; 
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;    */
} 
.page-text{
    font-size: 17px !important;
}
}